@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
}

body {
  width: 1440px;
  background: linear-gradient(70deg, #131A15, #090B3A);
  background-attachment: fixed;
  padding: 0 5%;
  margin: auto;
}

.resp-box{
  padding: 0 5%;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
  height: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button{
  width: 75px;
  height: 75px;
  border: none;
  background: transparent;
}

.link {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

.link:hover {
  color: rgba(255, 0, 0, 0.605);
  transition: 500ms;
  letter-spacing: 1px;
}

.shadow{
  position: absolute;
  background: #009F8FCC;
  z-index: -1;
}


@media (min-width: 1440px) {
    body{
      max-width: 1440px;
    }
}

@media (max-width: 552px) {

  .container {
    /* min-width: 1440px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}